@page
@model WebApp.Pages.Cliente.EditModel
@{
}
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo Registro") <!-- validacion por si es agregar o Registro -->
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity" v-model="Entity.IdCliente" /> <!-- se usa hidden por si se hara un edit  -->
                <!-- Campos de texto -->

                <div class="form-group mb-3">
                    <label for="Entity.Identificacion" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" asp-for="Entity.Identificacion" v-model="Entity.Identificacion" maxlength="128" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.IdTipoIdentificacion" class="form-label">Numero de Identificacion</label>
                    <input type="number" class="form-control" asp-for="Entity.IdTipoIdentificacion" v-model="Entity.IdTipoIdentificacion" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" v-model="Entity.Nombre" maxlength="128" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.PrimerApellido" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.PrimerApellido" v-model="Entity.PrimerApellido" maxlength="128" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.SegundoApellido" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.SegundoApellido" v-model="Entity.SegundoApellido" maxlength="128" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimiento" class="form-label">Fecha Nacimiento</label>
                    <input type="datetime" class="form-control" asp-for="Entity.FechaNacimiento" v-model="Entity.FechaNacimiento" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.Nacionalidad" class="form-label">Nacionalidad</label>
                    <input type="number" class="form-control" asp-for="Entity.Nacionalidad" v-model="Entity.Nacionalidad" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.FechaDefuncion" class="form-label">Fecha de Funcion</label>
                    <input type="datetime" class="form-control" asp-for="Entity.FechaDefuncion" v-model="Entity.FechaDefuncion" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.Genero" class="form-label">Genero</label>
                    <input type="text" class="form-control" asp-for="Entity.Genero" v-model="Entity.Genero" maxlength="1" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.NombreApellidosPadre" class="form-label">Nombre de Padre</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreApellidosPadre" v-model="Entity.NombreApellidosPadre" maxlength="200" required>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------->
                <div class="form-group mb-3">
                    <label for="Entity.NombreApellidosMadre" class="form-label">Nombre de Madre</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreApellidosMadre" v-model="Entity.NombreApellidosMadre" maxlength="200" required>
                    <!-------------------------------------------------------------------------------------------------------------------------------->
                    <div class="form-group mb-3">
                        <label for="Entity.Pasaporte" class="form-label">Pasaporte</label>
                        <input type="text" class="form-control" asp-for="Entity.Pasaporte" v-model="Entity.Pasaporte" maxlength="50" required>
                    </div>
                    <!-------------------------------------------------------------------------------------------------------------------------------->
                    <div class="form-group mb-3">
                        <label for="Entity.CuentaIBAN" class="form-label">Cuenta IBAN</label>
                        <input type="text" class="form-control" asp-for="Entity.CuentaIBAN" v-model="Entity.CuentaIBAN" maxlength="50" required>
                    </div>
                    <!-------------------------------------------------------------------------------------------------------------------------------->
                    <div class="form-group mb-3">
                        <label for="Entity.CorreoNotifica" class="form-label">Correo Notificaciones</label>
                        <input type="email" class="form-control" asp-for="Entity.CorreoNotifica" v-model="Entity.CorreoNotifica" maxlength="50" required>
                    </div>
                    <!-- boton -->
                    <div class="row">
                        <div class="col-4">
                            <button type="button" @@click="Save" class="btn btn-primary">
                                @(Model.id.HasValue?"Actualizar":"Agregar") <!-- validacion por si es agregar o actualizar -->
                            </button>
                        </div>
                    </div>


</form>


        </div>
    </div>
</div>

<!-- se jala el ts para que se utilice -->
@section Scripts{

    <script src="~/App/Cliente/Edit.js"></script>

}